*.tiff
RegionalOverviews/.Rhistory
.Rproj.user
RegionalOverviews/RegionalOverviews.Rproj
.Rhistory
*.bak
NWPtools/table_2_1/fish_ca_atl21.tsv
NWPtools/table_2_1/fish_ca_atl21.tsv
NWPtools/table_2_1/fish_ca_atl21.tsv.gz
NWPtools/table_2_1/fish_ca_atl27.tsv
NWPtools/table_2_1/fish_ca_atl27.tsv.gz
NWPtools/table_2_1/fish_ca_atl34.tsv
NWPtools/table_2_1/fish_ca_atl34.tsv.gz
NWPtools/table_2_1/fish_ca_atl37.tsv
NWPtools/table_2_1/fish_ca_atl37.tsv.gz
NWPtools/table_2_1/fish_ca_atl41.tsv
NWPtools/table_2_1/fish_ca_atl41.tsv.gz
NWPtools/table_2_1/fish_ca_atl47.tsv
NWPtools/table_2_1/fish_ca_atl47.tsv.gz
NWPtools/table_2_1/fish_ca_ind51.tsv
NWPtools/table_2_1/fish_ca_ind51.tsv.gz
NWPtools/table_2_1/UE2020.xls
NWPtools/table_2_1/UE2019.xls
NWPtools/table_2_1/UE2018.xls
NWPtools/table_2_1/Record of European TACs.xlsx
